<div class="bootstrap-wrapper"> 
    <div class="row" >      
        <div class="col-md-9">
            <h2 style="margin-top: 5px;">Adding question to {{title}}</h2>
            <mat-card>
                <mat-card-header><mat-card-subtitle><b>Enter details of Questions below :</b></mat-card-subtitle></mat-card-header>
                <mat-card-content>
                    <form (ngSubmit)="addQuestionFormSubmit()">
                       <!-- Using Ck Editor for rich text-->
                        <!--<ckeditor name="content" [(ngModel)] = "question.content" [editor]="Editor" data="<p>Question Content Goes here</p>"></ckeditor>-->
                        <!--<editor [init]="{height: 500, menubar: false, plugins: ['advlist autolink lists link image charmap print preview anchor','searchreplace visualblocks code fullscreen','insertdatetime media table paste code help wordcount'],toolbar:'undo redo | formatselect | bold italic backcolor | \alignleft aligncenter alignright alignjustify | \ bullist numlist outdent indent | removeformat | help'}"></editor> --> 
                        <!--<mat-form-field autofocus class="example-full-width" appearance="fill" style="width: 75%;">
                            <mat-label>Question contents goes here</mat-label><textarea autofocus required [(ngModel)]="question.content" name="content"rows =7 matInput placeholder="What is your native"></textarea>
                        </mat-form-field>-->
                        <ckeditor [editor]="Editor" data="<p>Enter question here</p>" name="content" 
                           [(ngModel)]="question.content"></ckeditor>
                          <div class="row">
                              <div class="col-md-6"><mat-form-field style="width: 50%;"><mat-label >Option 1</mat-label><textarea [(ngModel)]="question.option1" name="option1"autofocus required rows =2 matInput placeholder="XYZ"></textarea></mat-form-field></div>
                              <div class="col-md-6"><mat-form-field style="width: 50%;"><mat-label >Option 2</mat-label><textarea [(ngModel)]="question.option2" name="option2" autofocus required rows =2 matInput placeholder="XYZ"></textarea></mat-form-field></div>
                          </div>
                          <div class="row">
                            <div class="col-md-6"><mat-form-field style="width: 50%;"><mat-label>Option 3</mat-label><textarea [(ngModel)]="question.option3" name="option3" autofocus required rows =2 matInput placeholder="XYZ"></textarea></mat-form-field></div>
                            <div class="col-md-6"><mat-form-field style="width: 50%;"><mat-label>Option 4</mat-label><textarea [(ngModel)]="question.option4" name="option4" autofocus required rows =2 matInput placeholder="XYZ"></textarea></mat-form-field></div>
                        </div>
                        <mat-form-field>
                            <mat-label >Select Answer</mat-label>
                            <mat-select required [(ngModel)]="question.answer" name="answer">
                                <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-flat-button color="primary"  style="margin-top: 15px;">Add</button>
                            <button type="reset" mat-flat-button color="accent"  style="margin-top: 15px;" style="margin-left: 8px;">Reset</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>