<mat-card style="margin-top: 10px;">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Quiz </th>
      <td mat-cell *matCellDef="let element"> {{element.title}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="category.title">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="about">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.about}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="max_marks">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Maximum Marks </th>
      <td mat-cell *matCellDef="let element"> {{element.max_marks}} </td>
    </ng-container>
  
    <ng-container matColumnDef="no_of_questions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Total Questions </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_questions}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Active </th>
      <td mat-cell *matCellDef="let element"> {{element.active?'YES':'NO'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Take Quiz </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button *ngIf="element.active" (click)="play(element.qid)">Start</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator showFirstLastButtons [length]="size" [pageSize]="7" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</mat-card>
